body {
  font: 20px/28px arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
  background-image: url(doodles.png);
}

.footer {
  background-color: #333;
  padding: 20px;
  height: 10px;
}
